@model LaborationRep.Models.Artwork

@{
    ViewData["Title"] = "Edit";
}

<h1>Uppdatera</h1>

<h4>@Html.DisplayFor(m => m.ArtworkName)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Konstverk</label>
                <input asp-for="ArtworkName" class="form-control" />
                <span asp-validation-for="ArtworkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">År</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Genre</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Teknik</label>
                <input asp-for="Technique" class="form-control" />
                <span asp-validation-for="Technique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rum</label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Plats</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Utställning</label>
                <input asp-for="Exhibition" class="form-control" />
                <span asp-validation-for="Exhibition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Konstnär</label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    @Html.ActionLink("Tillbaka till konstverklista", "Index", new { id = Model.ArtistId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
